name: Run Unit Tests on Master

on:
  push:
    branches: ["master"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2

      - name: Set Up Go
        uses: actions/setup-go@v5.4.0
        with:
          go-version: '1.24'

      - name: Go Version
        run: go version
        continue-on-error: true

      - name: Run Go Unit Tests
        run: go test -v ./...